footer{
    display: flex;
    align-items: center;
    background-color: grey;
    height: 200px;
}
.footerDiv{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.Btnlinks{
    display: flex;
    flex-direction: column;
}
.links{
    color: white;
    text-decoration: none;
    margin: 5px;
}